*{
    box-sizing: border-box;
    direction: ltr;
    margin: 0;
}

a{
    text-decoration: none;
    color: #333;
}

body{
    font-size: 16px;
}

.container .phone{
    width: 400px;
    margin: 0px auto;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .1);

    
}



/* head-nav */

.head-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.head-nav .right{
    font-size: 1.3em;

    
}

.head-nav .left .shape{
    font-size: 0.75em;
}

.head-nav .left .id{
    font-size: 1.3em !important;
    font-weight: bold;
}

/* profile */

.profile{

}

    /* info */
    .profile .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .profile .info .profile-image{
        display: flex;
        position: relative;
    }

    .profile .info .profile-image img{
        width: 80px;
        height: 80px;
        border-radius: 50%;

    }

    .profile .info .profile-image i{
    position: absolute;
    font-size: 1.3em;
    color: #3498db;
    bottom: 0px;
    right: 0px;
    }

    .profile .info .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile .info .item .number{
        font-weight: bolder;
    }

    .profile .info .item .text{
        font-weight: bold;
    }


    /* bio */

    .bio{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .bio .id{
        font-weight: bold;
    }

    .bio .threads-id{
        text-align: center;
        width: 80px;
        background-color: #c7c5c5;
        border-radius: 20%;
        margin-top: 5px;
    }

    .bio .bio-text{
        margin-top: 5px;

    }

    /* edit-bio */

    .edit-bio{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        text-align: center;

    }

    .edit-bio .btn{
        width: 170px;
    }

    


/* footer */

.footer {
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.footer a {
    font-size: 1.5em;

}

.footer img {
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

