*{
    box-sizing: border-box;
    direction: ltr;
    margin: 0;
}

a{
    text-decoration: none;
    color: #333;
}

body{
    font-size: 16px;
}

.container .phone{
    width: 400px;
    margin: 0px auto;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .1);

    
}



/* head-nav */

.head-nav{
    padding: 10px;
}
    /* search bar */
    .form {
    display: flex;
    flex-direction: row;
    }

    .search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    }

    .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
    }

    .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    }

   /* posts */
   .posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin-top: -7PX;
    text-align: center;


}

.posts .post{
}    

.posts .post img{
    width: 130px;
    height: 130px;
    border-radius: 4px;
}
    


/* footer */

.footer {
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.footer a {
    font-size: 1.5em;

}

.footer img {
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

